.nav-right select option{
    background-color: black;
}

/* Changing content in the page as per the width of the window*/
@media (max-width: 540px) {
    .logo-btn {
        font-size: 1.25rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
    .home-btn {
        font-size: 1rem;
    }
    .selector-btn {
        margin-right: 1.5rem;
        
        font-size: 1rem;
    }
    .home-cont {
        margin-inline: 2rem;
    }
}

