.coin {
    min-height: 85vh;
}

.coin-name {
    width: 25vw;
}

.coin-chart {
    width: 75vw;
}

.spinner {
    min-height: 85vh;
}

.spin{
    animation: rotate 2s infinite;
    border-top-color: #0077CC;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}